# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# VS Code
.vscode/

# OS
.DS_Store

# Build
*.egg-info/
dist/
build/

# Impact Engine cache
.impact_cache

#variable
.env

#db

__pycache__/
*.pyc
db.sqlite3
venv/
.env